$sass-use-mobile-accordeon-for-tabs: false !default;

@if $sass-use-mobile-accordeon-for-tabs {
    .myfav-designs-product-detail-akkordeon-arrow {
        display: none;
    }

    @include media-breakpoint-down(md) {
        .product-description-reviews-tab-navigation {
            display: none;
        }

        .product-detail-tabs-content {
            display: block!important;

            .tab-pane {
                display: block!important;
                opacity: 1!important;
            }

            button.offcanvas-close {
                display: none!important;
            }

            h3.product-detail-description-title {
                background-color: #EEE;
                cursor: pointer;
                display: flex;
                font-size: 1rem;
                justify-content: space-between;
                padding: 6px 12px;

                .myfav-designs-product-detail-akkordeon-title {
                    padding-right: 12px;
                }

                .myfav-designs-product-detail-akkordeon-arrow {
                    svg {
                        height: 1rem;
                    }
                }
            }

            .product-detail-description-text {
                display: none;
            }

            /* This openes the tab content or closes it. */
            .myfav-detail-akkordeon-opened>div:last-child {
                display: block!important;
            }

            .myfav-detail-akkordeon-opened .myfav-designs-product-detail-akkordeon-arrow {
                .arrow-up {
                    display: none!important;
                }
                .arrow-down {
                    display: block!important;
                }
            }

            .myfav-designs-product-detail-akkordeon-arrow {
                display: block;
            }
        }
    }
}